<!DOCTYPE html>
<html>
<head>
    <title>The Road To Paris</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyB9R73RQs2X2n3J8xpPKez_1hotrCwInH8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="js/commute.js"></script>
    <script src="js/logger.js"></script>
    <style>
        main {
            width: 100%;
        }

        .vertical-padding {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        iframe.interactive {
            width: 900px;
            height: 600px;
            border: none;
            overflow: none;
        }

        iframe.car_interactive {
            width: 900px;
            height: 450px;
            border: none;
            overflow: none;
        }

        #map {
            height: 100%;
        }

        input[type="radio"] {
            visibility:hidden;
        }
        .mode {
            cursor: pointer;
        }
        input[type="radio"]:checked + .mode {
            border-color: #4a4a4a;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
            color: #363636;
        }

        .petition {
            padding: 10px;
            width 100px;
            display: inline-block;
            color: white;
            background-color: #3273dc;
        }

        .petition:hover {
            background-color: #4283ec;
        }
    </style>
</head>
<body>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    The Road To Paris
                </h1>
                <h2 class="subtitle">
                    an interactive exploration of climate change
                </h2>
            </div>
        </div>
    </section>
    <main>
        <section v-if="!presurvey.how_concerned || !presurvey.individual_actions" class="hero is-dark vertical-padding">
            <div class="container" style="text-align: center;">
                <h1 class="title">A few quick questions to help us customize your experience:</h1>
                <div v-if="!presurvey.how_concerned">
                    <br/>
                    <p class="subtitle is-5">How concerned are you about climate change?</p>
                    <div class="block">
                      <a @click="presurvey.how_concerned='very'" class="button">Very</a>
                      <a @click="presurvey.how_concerned='somewhat'" class="button">Somewhat</a>
                      <a @click="presurvey.how_concerned='slightly'" class="button">Slightly</a>
                      <a @click="presurvey.how_concerned='not-at-all'" class="button">Not at all</a>
                    </div>
                </div>
                <div v-if="!presurvey.individual_actions">
                    <br/>
                    <p class="subtitle is-5">
                        How much do you believe individual actions matter when it <br/>
                        comes to curbing green house gas emissions?
                    </p>
                    <div class="block">
                      <a @click="presurvey.individual_actions='a-lot'" class="button">A lot</a>
                      <a @click="presurvey.individual_actions='a-little'" class="button">A little</a>
                      <a @click="presurvey.individual_actions='not-at-all'" class="button">Not at all</a>
                    </div>
                </div>
                <br/>
            </div>
        </section>
        <section class="hero is-light vertical-padding">
            <div class="container">
                <p>
                    Our planet is warming. Over the past 130 years, average global temperatures have
                    increased by 1.2 °C, or about 2 °F. While a few skeptics
                    argue about the specific cause for this rise in global temperatures, 97% of climate
                    scientists believe the largest contributor is the greenhouse gases like carbon
                    dioxide and methane that we release into the atmosphere all day, every day.
                </p>
                <br>
                <p>
                  How do you think average global temperatures will change in the future if we continue emitting greenhouse gases at our current rate? Move your mouse over the dots to see how temperatures in each past year compared to the average temperature between 1888 and 2016. Then click on the blank space and drag the mouse to draw what you predict will happen to global temperatures between now and 2100. Don't worry about exact values, we have omitted the axis to help you focus on the trends.
                </p>
                <div class="has-text-centered vertical-padding">
                    <figure class="has-text-centered vertical-padding">
                        <iframe class="interactive" src="app/temperature.html" scrolling="no"></iframe>
                    </figure>
                </div>
                <div v-if="temperature.drew" class="vertical-padding">
                    <div v-if="temperature.status == 'right'" class="notification is-primary">
                        <h2 class="title" style="color:white;padding-bottom:5px;">Wow, you’re spot-on!</h2>
                        <p>
                            Only 5% of our users’ predictions align precisely with those of scientists, who estimate 
                            that average global temperatures will rise by 3.6 °C by the year 2100, or roughly 6.5 °F, 
                            if the US and the rest of the world don’t take significant action to curb greenhouse gas 
                            emissions. That’s the difference between a warm spring day in the mid-60’s and a toastier 
                            summer day in the low 70’s.
                        </p>
                    </div>
                    <div v-if="temperature.status == 'wrong'" class="notification is-warning">
                        <h2 class="title" style="padding-bottom:5px;">Well, actually...</h2>
                        It looks like you thought global temperatures will go down in the future. However,
                        scientists actually predict that if the US and the rest of the world don’t take
                        significant action to curb greenhouse gas emissions, average global temperatures
                        will rise by 3.6 °C by the year 2100, or roughly 6.5 °F. That’s the difference between a pleasant spring day in the mid-60’s
                        and a toastier summer day in the low 70’s.
                    </div>
                    <div v-if="temperature.status == 'underestimate'" class="notification is-warning">
                        <h2 class="title" style="padding-bottom:5px;">You're close!</h2>
                        It looks like you thought global temperatures will go up in the future. You’re
                        absolutely right, but like 56% of our users, you underestimated how much temperatures
                        will increase. Scientists actually predict that if the US and the rest of the world
                        don’t take significant action to curb greenhouse gas emissions, average global
                        temperatures will rise by 3.6 °C by the year 2100, or roughly 6.5 degrees
                        Fahrenheit. That’s the difference between a pleasant spring day in the mid-60’s and
                        a toastier summer day in the low 70’s.
                    </div>
                    <div v-if="temperature.status == 'overestimate'" class="notification is-primary">
                        <h2 class="title" style="color:white;padding-bottom:5px;">You're close!</h2>
                        It looks like you thought global temperatures will go up in the future. You’re
                        absolutely right, but like 33% of our users, you overestimated how much temperatures will
                        increase. Scientists actually predict that if the US and the rest of the world don’t take
                        significant action to curb greenhouse gas emissions, average global temperatures will
                        rise by 3.6 °C by the year 2100, or roughly 6.5 °F. That’s
                        the difference between a pleasant spring day in the mid-60’s and a toastier summer day
                        in the low 70’s.
                    </div>
                    <div v-if="temperature.status == 'slight_underestimate'" class="notification is-warning">
                        <h2 class="title" style="padding-bottom:5px;">You’re right!</h2>
                        It looks like you thought global temperatures will go up in the future. You’re absolutely
                        right, but like 56% of our users, you underestimated how much temperatures will increase.
                        You were really close though! Scientists actually predict that if the US and the rest of
                        the world don’t take significant action to curb greenhouse gas emissions, average global
                        temperatures will rise by 3.6 °C by the year 2100, or roughly 6.5 °F. That’s the difference
                        between a pleasant spring day in the mid-60’s and a toastier summer day in the low 70’s.
                    </div>
                    <div v-if="temperature.status == 'slight_overestimate'" class="notification is-primary">
                        <h2 class="title" style="color:white;padding-bottom:5px;">You’re right!</h2>
                        It looks like you thought global temperatures will go up in the future. You’re absolutely
                        right, but like 33% of our users, you overestimated how much temperatures will increase.
                        You were really close though! Scientists actually predict that if the US and the rest of
                        the world don’t take significant action to curb greenhouse gas emissions, average global
                        temperatures will rise by 3.6 °C by the year 2100, or roughly 6.5 °F. That’s the difference between
                        a pleasant spring day in the mid-60’s and a toastier summer day in the low 70’s.
                    </div>
                </div>
                <p>
                    This may not seem like a big difference, but 3.6 °C (6.5 °F) of warming would have devastating
                    impacts, including rising sea levels and increased coastal flooding due to melting ocean ice, a
                    dramatic increase in severe storms, long-lasting droughts, and the spread of diseases like malaria
                    and Zika to new parts of the globe.
                </p>
                <br/>
                <p>
                    Fortunately, in 2016, the US became one of 185 nations to sign on to the historic Paris climate
                    agreement, which aims to keep that increase in global temperatures to a far less drastic 1.5 °C,
                    or just over 2.5°F.
                </p>
            </div>
        </section>
        <section class="hero is-dark vertical-padding">
            <div class="container">
                <p>
                    The graph below shows how much greenhouse gases the US emitted in 2005. How much do you think we would have to cut those emissions to meet our commitments under the Paris agreement? Click on the up and down arrows below to change the greenhouse gases emitted by various sources to see how we might reach the Paris goal.
                </p>
                <figure class="has-text-centered vertical-padding">
                    <iframe class="interactive" src="js/bubbles.html" scrolling="no"></iframe>
                </figure>
                <p>
                    In order for the United States to live up to its promise in the Paris agreement, it will have to cut its greenhouse gas emissions by 26 to 28 percent of 2005 levels by 2025.
                </p>
                <p>
                    The bad news: Without an increased effort on the part of Americans to release fewer greenhouse gases, we will fail to reach that goal. Under current and soon-to-be-implemented policies alone, the US will only be able to curb its emissions by 7 to 21 percent of 2005 levels.
                </p>
            </div>
        </section>
        <section class="hero is-light vertical-padding">
            <div class="container">
                <p>
                    As we can see in the section above, transportation is the second-largest contributor to American greenhouse gas emissions. By changing the way we commute, we can go a long way towards helping our nation hit its Paris target. Let's take a look at <strong>your</strong> commuting habits!
                </p>
                <br>
                <p>If you are a car owner, how do you think your car ranks in terms of fuel efficiency? The boxes below range in terms of fuel efficiency, with the least fuel efficient in light green on the left and the most fuel efficient in dark green on the right. First, choose your car's manufacturer and model to get your car. Then, drag and drop your car into the category you think it belongs to.</p>
                <figure class="has-text-centered vertical-padding">
                    <div class="container">
                        <iframe class="car_interactive" style="height:470px;" src="app/fuelEfficiency.html" scrolling="no"></iframe>
                    </div>
                </figure>
                <br/>
                <div class="column is-6 is-offset-3">
                    <div class="card">
                      <header class="card-header">
                        <p class="card-header-title">
                          How much CO2 does your commute produce?
                        </p>
                        <a class="card-header-icon">
                          <span class="icon">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </a>
                      </header>
                      <div class="card-content">
                        <div class="content">
                            <p> What is your route? </p>
                            <div class="field">
                              <p class="control">
                                <input class="input" type="text" placeholder="Origin" v-model="emissions.origin"/>
                              </p>
                            </div>
                            <div class="field">
                              <p class="control">
                                <input class="input" type="text" placeholder="Destination" v-model="emissions.destination"/>
                              </p>
                            </div>
                            <p> What mode of transportation do you use? </p>
                            <div class="block" align="center">
                              <input type="radio" id="car" value="CAR" v-model="emissions.travel_mode"></input>
                              <label class="button mode" for="car"><i class="fa fa-car" aria-hidden="true"></i></label>
                              <input type="radio" id="bus" value="BUS" v-model="emissions.travel_mode"></input>
                              <label class="button mode" for="bus"><i class="fa fa-bus" aria-hidden="true"></i></label>
                              <input type="radio" id="bike" value="BIKE" v-model="emissions.travel_mode"></input>
                              <label class="button mode" for="bike"><i class="fa fa-bicycle" aria-hidden="true"></i></label>
                            </div>
                            <div class="field">
                                <p class="has-text-right">
                                    <button id="calculate_emissions" class="button is-primary" @click="compute_emissions" v-if="!emissions_loading">Calculate</button>
                                    <a class="button is-primary is-loading" v-if="emissions_loading">Loading</a>
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <br>
                </div>

                <div v-if="emissions.result">
                  <!-- <div class="my-container" style="position:relative;height:25%;width:25%;">
                        <img src="img/footprint.png"/>
                        <img src="img/FootprintUser.png" style="position:absolute;height:50%;width:50%;top:0;left:0;"/>
                  </div> -->
                    <p class="vertical-padding" v-if="emissions.travel_mode == 'CAR'">
                        Your <b>{{emissions.result.distance_in_meters/1000}} km</b> drive to work emits <strong>{{emissions.result.car}} lbs</strong> of carbon dioxide. Over the course of a year, that adds up to <strong>{{emissions.result.car_yearly}} lbs</strong>.
                    </p>
                    <p class="vertical-padding" v-if="emissions.travel_mode == 'BUS'">
                        Your <b>{{emissions.result.transit_distance/1000}} km</b> route to work emits <strong>{{emissions.result.bus}} lbs</strong> of carbon dioxide. Over the course of a year, that adds up to <strong>{{emissions.result.bus_yearly}} lbs</strong>.
                    </p>

                    <p class="vertical-padding" v-if="emissions.travel_mode == 'BIKE'">

                        Your <b>{{emissions.result.bike_distance_in_meters/1000}} km</b> bike to (and from?) work emits <strong>{{emissions.result.bike}} lbs</strong> of carbon dioxide. Over the course of a year, that adds up to <strong>{{emissions.result.bike_yearly}} lbs</strong>.
                    </p>
                    <div class="vertical-padding" v-if="emissions.result.has_transit && emissions.result.pct_saving_if_bus > 0 && emissions.travel_mode == 'CAR'">
                        Lucky for you, there’s a bus route that can get you to work.  By taking the bus, you could cut your emissions by
                        <b>{{emissions.result.pct_saving_if_bus}}%</b>. Having just one driver switch to public transportation can reduce
                        the typical American household’s annual carbon footprint by <a href = "https://www.transit.dot.gov/sites/fta.dot.gov/files/docs/PublicTransportationsRoleInRespondingToClimateChange2010.pdf">over 8 percent</a>! Imagine what the impact would be if
                        millions of Americans made that simple change!


                        <div style="text-align: center">
                            <div class="my-container" style="position: relative; width: 50%; margin-left:25%;">
                                  <img src="img/Footprint.png"/>
                                  <img src="img/FootprintUser.png" style="position:absolute;top:50%;left:50%; transform:translate(-50%, -50%);" :style="{width: 100 - emissions.result.pct_saving_if_bus + '%', height: 100 -emissions.result.pct_saving_if_bus + '%'}"/>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-padding" v-if="emissions.result.has_transit && emissions.result.pct_saving_if_bus > 0 && emissions.travel_mode == 'BUS'">
                        Good job to you for taking public transportation to work! By taking the bus, you are cutting your emissions by
                        <b>{{emissions.result.pct_saving_if_bus}}%</b>. By doing this instead of driving, you are reducing your household’s annual carbon footprint by <a href = "https://www.transit.dot.gov/sites/fta.dot.gov/files/docs/PublicTransportationsRoleInRespondingToClimateChange2010.pdf">over 8 percent</a>! Imagine what the impact would be if
                        millions of Americans made that simple change!


                        <div style="text-align: center">
                            <div class="my-container" style="position: relative; width: 50%; margin-left:25%;">
                                  <img src="img/Footprint.png"/>
                                  <img src="img/FootprintUser.png" style="position:absolute;top:50%;left:50%; transform:translate(-50%, -50%);" :style="{width: 100 - emissions.result.pct_saving_if_bus + '%', height: 100 -emissions.result.pct_saving_if_bus + '%'}"/>
                            </div>
                        </div>
                    </div>

                    <div class="vertical-padding" v-if="emissions.result.distance_in_meters < 5000 && emissions.travel_mode != 'BIKE'">
                        {{emissions.result.has_transit ? "It" : "Fortunately, it"}} looks like you work close enough to home to bike or walk there.
                        By biking or walking, you could reduce your emissions by <b>{{emissions.result.pct_saving_if_bike}}%</b>.
                        Replacing cars with bikes also reduces traffic congestion, increases air quality, improves physical fitness,
                        and saves you money on gasoline and car maintenance. And during rush hour, biking could even get you to work (or back home)
                        more quickly than driving!

                        <div style="text-align: center">
                            <div class="my-container" style="position: relative; width: 50%; margin-left:25%;">
                                  <img src="img/Footprint.png"/>
                                  <img src="img/FootprintUser.png" style="position:absolute;top:50%;left:50%; transform:translate(-50%, -50%);" :style="{width: 100-emissions.result.pct_saving_if_bike + '%', height: 100-emissions.result.pct_saving_if_bike + '%'}"/>
                            </div>
                        </div>
                   </div>

                   <div class="vertical-padding" v-if="emissions.travel_mode == 'BIKE'">
                        Good job to you for biking to work! By biking or walking, you are reducing your emissions by <b>{{emissions.result.pct_saving_if_bike}}%</b> compared to if you were driving.
                        Replacing cars with bikes also reduces traffic congestion, increases air quality, improves physical fitness,
                        and saves you money on gasoline and car maintenance.

                        <div style="text-align: center">
                            <div class="my-container" style="position: relative; width: 50%; margin-left:25%;">
                                  <img src="img/Footprint.png"/>
                                  <img src="img/FootprintUser.png" style="position:absolute;top:50%;left:50%; transform:translate(-50%, -50%);" :style="{width: 100-emissions.result.pct_saving_if_bike + '%', height: 100-emissions.result.pct_saving_if_bike + '%'}"/>
                            </div>
                        </div>
                   </div>

                    <p class="vertical-padding" v-if="!emissions.result.has_transit && !emissions.result.distance_in_meters < 5000">
                      Unfortunately, it looks like there’s no easy way for you to get to work by bus, and it’s too far to bike or walk.
                      But you can still help the US reach its Paris target by carpooling, since every extra passenger in your car means
                      one fewer car on the road. And when you’re in the market for a new car, consider purchasing a more energy-efficient
                      one - it will not only shrink your carbon footprint, but it could even save you money in the long run by reducing
                      the amount of gasoline you buy. For more information on cutting the environmental impact of your commute, check
                      out the US Department of Energy’s <a href = "http://www.fueleconomy.gov/feg/drive.shtml"> gas mileage tips</a>.
                    </p>
                </div>
            </div>
        </section>
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h2 class="title">
                        Will you help the US avoid breaking its promise <br/>
                        to the rest of the world? It’s as easy as <br/>
                        changing the way you get to work.
                    </h2>
                    <br/>
                    <h2>
                        And while you’re at it, take a few moments to show support for <br/>
                        environmentally friendly energy and climate policies by signing <br/>
                        the below petition and talking to your Congressional representatives.
                    </h2>
                    <div>
                        <br/>
                        <h2 class="petition subtitle"><a target="_blank" @click="Logger.log({'event':'petition'})" href="https://www.change.org/p/congress-president-trump-keep-the-paris-climate-accord">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="vertical-align: middle;"></i>
                            Sign the petition.
                        </a></h2>
                        <h2 class="petition subtitle"><a target="_blank" @click="Logger.log({'event':'representatives'})" href="https://townhallproject.com/">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            Find your representatives.
                        </a></h2>
                    </div>
                </div>
            </div>
        </section>
        <section v-if="!postsurvey.equal_or_more || !postsurvey.how_likely || !postsurvey.belief || !postsurvey.stay_paris" class="hero is-dark vertical-padding">
            <div class="container" style="text-align: center;">
                <br/>
                <h1 class="title">Let us know how we're doing!</h1>
                <br/>
                <div v-if="!postsurvey.equal_or_more">
                    <p class="subtitle is-5">After going through our web page, are you equally concerned or more concerned about climate change?</p>
                    <div class="block">
                      <a @click="postsurvey.equal_or_more='much-more'" class="button">Much more concerned</a>
                      <a @click="postsurvey.equal_or_more='slightly'" class="button">Slightly more concerned</a>
                      <a @click="postsurvey.equal_or_more='equally'" class="button">Equally concerned</a>
                    </div>
                    <br/>
                </div>
                <div v-if="!postsurvey.how_likely">
                    <p class="subtitle is-5">
                        How likely are you to change the way you commute to work after going through our web page?
                    </p>
                    <div class="block">
                      <a @click="postsurvey.how_likely='very'" class="button">Very likely</a>
                      <a @click="postsurvey.how_likely='slightly'" class="button">Slightly likely</a>
                      <a @click="postsurvey.how_likely='not-at-all'" class="button">Not at all likely</a>
                    </div>
                    <br/>
                </div>
                <div v-if="!postsurvey.belief">
                    <p class="subtitle is-5">
                        To what extent do you believe that if many people chose greener commuting options, it would help reduce greenhouse gas emissions?
                    </p>
                    <div class="block">
                      <a @click="postsurvey.belief='big'" class="button">It will make a big difference.</a>
                      <a @click="postsurvey.belief='some'" class="button">It would make some difference.</a>
                      <a @click="postsurvey.belief='none'" class="button">It wouldn't change anything.</a>
                    </div>
                    <br/>
                </div>
                <div v-if="!postsurvey.stay_paris">
                    <p class="subtitle is-5">
                        Do you think we should stay in the Paris Agreement?
                    </p>
                    <div class="block">
                      <a @click="postsurvey.stay_paris='yes'" class="button">Yes, absolutely.</a>
                      <a @click="postsurvey.stay_paris='not-sure'" class="button">I'm not sure.</a>
                      <a @click="postsurvey.stay_paris='no'" class="button">No.</a>
                    </div>
                    <br/>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container is-dark">
            <div class="content has-text-centered">
                <p>
                    <strong>The Road To Paris</strong> by Ashley, Brandon, <a href="http://www.kevz.me">Kevin</a>, Nikki, and Nina.
                </p>
                <p>
                    <a class="icon" href="https://github.com/k15z/cms631-final-project">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <script>
        Logger.log({"event": "page_load"});
        const vm = new Vue({
            el: "main",
            data: {
                emissions_loading: false,
                presurvey: {
                    how_concerned: false,
                    individual_actions: false
                },
                postsurvey: {
                    equal_or_more: false,
                    how_likely: false,
                    belief: false,
                    stay_paris: false
                },
                stats: {
                    pct_right: 10,
                    pct_under: 40,
                    pct_over: 10,
                    pct_sunder: 10,
                    pct_sover: 30
                },
                temperature: {
                    drew: false,
                    status: null
                },
                co2: {
                    drew: false,
                    decrease: null
                },
                emissions: {
                    origin: "",
                    destination: "",
                    travel_mode: "",
                    result: false
                }
            },
            methods: {
                update_temp: function (status) {
                    var self = this;
                    self.temperature.drew = true;
                    self.temperature.status = status;
                    Logger.log({"event": "temperature", "temperature.status": status});
                },
                update_co2: function (path) {
                    var self = this;
                    var distance_from_top_1 = path[1][1];
                    var distance_from_top_2 = path[_.size(path)-1][1];
                    self.co2.drew = true;
                    self.co2.decrease = distance_from_top_2 > distance_from_top_1;
                },
                compute_emissions: function () {
                    var self = this;
                    self.emissions_loading = true;
                    if (self.emissions.origin == "" || self.emissions.destination == "") {
                        alert("Please fill in your route details!");
                        return;
                    }
                    if (self.emissions.travel_mode == "") {
                        alert("Please choose a transporation mode!");
                        return;
                    }

                    console.log(self.emissions.origin);
                    console.log(self.emissions.destination);
                    getCommute(self.emissions.origin, self.emissions.destination, function (res) {
                        self.emissions.result = res;
                        self.emissions_loading = false;
                    })
                }
            },
            watch: {
                "presurvey.how_concerned": function (new_value) {
                    Logger.log({"event": "presurvey", "presurvey.how_concerned": new_value});
                },
                "presurvey.individual_actions": function (new_value) {
                    Logger.log({"event": "presurvey", "presurvey.individual_actions": new_value});
                },
                "postsurvey.equal_or_more": function (new_value) {
                    Logger.log({"event": "postsurvey", "postsurvey.equal_or_more": new_value});
                },
                "postsurvey.how_likely": function (new_value) {
                    Logger.log({"event": "postsurvey", "postsurvey.how_likely": new_value});
                },
                "postsurvey.belief": function (new_value) {
                    Logger.log({"event": "postsurvey", "postsurvey.belief": new_value});
                },
                "postsurvey.stay_paris": function (new_value) {
                    Logger.log({"event": "postsurvey", "postsurvey.stay_paris": new_value});
                }
            }
        });
        update_temp = vm.update_temp;
        update_co2 = vm.update_co2;

        /*$.get("https://api.myjson.com/bins/toguh", function (arr) {
            var total = 0;
            var counts = {
                "right": 0,
                "wrong": 0,
                "overestimate": 0,
                "underestimate": 0,
                "slight_overestimate": 0,
                "slight_underestimate": 0
            };
            for (var i = 0; i < arr.length; i++)
                if (arr[i].data.event == "temperature") {
                    counts[arr[i].data.status]++;
                    total++;
                }
            vm.stats.pct_right = Math.round(100.0 * counts.right / total)
            vm.stats.pct_wrong = Math.round(100.0 * counts.wrong / total)
            vm.stats.pct_under = Math.round(100.0 * counts.underestimate / total)
            vm.stats.pct_over = Math.round(100.0 * counts.overestimate / total)
            vm.stats.pct_sunder = Math.round(100.0 * counts.slight_underestimate / total)
            vm.stats.pct_sover = Math.round(100.0 * counts.slight_overestimate / total)
        })*/

    </script>
</body>
</html>
